body{
    position: relative;
}
.heading{
    font-size: 60px;
}
.name{
    float:right;
}
.img1{
    position: relative;
    left: 40% ;
}
.img2{
    position: relative;
    right: -20%;
}
.apphead{
    position: relative;
    right: -20%;
}
.webhead{
    position: relative;
    left: 40% ; 
}
 .buttons{
    float: right;
 }
 .appclass{
    align-items: center;
    display: flex;
    flex-direction: row;
    left: 0%;
 }
 .webclass{
    align-items: center;
    display: flex;
    flex-direction: row;
    left: 0%;
 }
 .websize,.appsize{
    font-size: 40px;
 }
 