p.name{
    float: inline-end;
    
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f7f7f7;
}
.container {
    text-align: center;
    background: #fff;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
input[type="email"] {
    width: 80%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="password"]{
    width: 80%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.button {
    width: 80%;
    padding: 0.75rem;
    margin: 0.5rem 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.sign-up-button {
    background-color: black;
    color: white;
}
.google-button {
    background-color: white;
    color: black;
    border: 1px solid #ccc;
}
.google-button:hover {
    background-color: #f7f7f7;
}
.terms {
    font-size: 0.875rem;
    color: #555;
    margin-top: 1rem;
}
.terms a {
    color: #007BFF;
    text-decoration: none;
}
.terms a:hover {
    text-decoration: underline;
}
h6{
    margin-top: 1rem
}
